/public/js
/public/css
/version.txt
/images
.DS_Store
node_modules
/service-account.json
/pa-wildflower-selector-media.tar
/designs.fig
/dist
/ssr
/secrets.yaml

# local copy of .env.example
.env

#You need to get the images from the the linode store via the sync down script not from git.
/images

#You need to get the db from the the linode store via the sync down script not from git.
db_backups/

REF REPO/

.cursorignore

SEMANTIC_SEARCH.md
TODO.MD

settings.local.json

git@.gitignore

# Windows reserved device names
nul
con
prn
aux