/public/js
/public/css
/version.txt
/images
.DS_Store
node_modules
/service-account.json
/pa-wildflower-selector-media.tar
/designs.fig
/dist
/ssr
/secrets.yaml
/pa-wildflower-selector.archive
/pa-wildflower-selector.tar
/pa-wildflower-selector.archive.gz


# local copy of .env.example
.env
